body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:239px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:477px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:477px;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:44px;
  width:216px;
  height:384px;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:433px;
  width:27px;
  height:27px;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:19px;
  width:10px;
  height:10px;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:19px;
  width:43px;
  height:7px;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:12px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:44px;
  width:216px;
  height:12px;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:56px;
  width:216px;
  height:34px;
  font-size:12px;
}
#u1370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:65px;
  width:19px;
  height:18px;
}
#u1371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:104px;
  width:62px;
  height:22px;
  font-size:12px;
  text-align:center;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:104px;
  width:52px;
  height:22px;
  font-size:12px;
  text-align:center;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:2px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:176px;
  width:216px;
  height:1px;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:104px;
  width:52px;
  height:22px;
  font-size:12px;
  text-align:center;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:2px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:132px;
  width:216px;
  height:1px;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:147px;
  width:62px;
  height:22px;
  font-size:12px;
  text-align:center;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u1378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:147px;
  width:52px;
  height:22px;
  font-size:12px;
  text-align:center;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:147px;
  width:52px;
  height:22px;
  font-size:12px;
  text-align:center;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
